<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Custom map projections</title>
  <link rel="stylesheet" href="/css/application.css">

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjdrSxFzvZx0p98-UYVbiej9L0aP-d2ik&sensor=false"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>


</head>
<body>
  <div id="map-canvas"></div>
</body>
</html>