<div class="container">
  <h1>New user sign up</h1>

  <form id="sign-up" method="post" action="/users">

    <label class="label" for="email">Email</label>
    <input class="form-field" type="text" name="new_user[email]">
    <br>

    <label class="label" for="password">Password</label>
    <input class="form-field" type="password" name="new_user[password]">
    <br>

    <div class="submit"><input type="submit" value="Sign up"></div>
  </form>
</div>